<section class="oe_container">
    <div>
        <div class="text-center">
           <a target="new" href="http://www.acespritech.com">
               <img src="ace_logo.png" style="width:200px;">
           </a>
       </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 11 POS Kitchen Screen.</h2>
            <h3 class="oe_slogan">POS kitchen Screen shows orders and their state to Cook and Manager</h3>
            <div class="oe_centeralign oe_websiteonly">
                <a href="https://youtu.be/YGNj_x4Bw6E" target="new" class="oe_button oe_big" style="background-color: #008000;">Let's see the video</a>
                <h4>
                    <span style="color: #008000;">Also check this module: </span><a style="color:blue;" target="new" href="https://apps.odoo.com/apps/modules/11.0/aspl_pos_customer_order_screen/">POS Customer Order Screen</a>
                </h4>
            </div><br/>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
                <h3>
                    Features
                </h3>
                <ul>
                    <div style="margin-left: 20px;font-size: 14px;color:#30054D;font-weight:bold;">
                    	- Kitchen screen is for staff to see order that has been placed.<br />
	                    - It will also show particular table orders.<br />
	                    - Kitchen screen has two user category: Cook and Manager.<br />
	                    - Cook can only see and update order of specified categories.<br />
	                    - Manger can see all categories orders and table orders.<br />
	                </div>
                </ul>
            </div>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
            	<ul>
                    <li style="color:#30054D;font-weight:bold;">To enable kitchen screen view, here is the configuration.</li>
                    <li style="color:#30054D;font-weight:bold;">You can set kitchen screen user as cook or manger and assign categories by which you can give right to see order that belongs to given category.</li>
                </ul>
            	<img style="max-width: 100%;" src="1_user_config.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Send to kitchen button can be used for table service.</li>
                    <li style="color:#30054D;font-weight:bold;">For counter service simply place order and it will be send to kitchen.</li>
                    <li style="color:#30054D;font-weight:bold;">Add note button is used to write a note on particular order line.</li>
                    <li style="color:#30054D;font-weight:bold;">If user is manager kitchen screen button will be visible.</li>
                </ul>
                <img style="max-width: 100%;" src="2_screen_buttons.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Manager can see screen that is shown below by clicking kitchen screen button.</li>
                    <li style="color:#30054D;font-weight:bold;">You can see order note below the order in red line.</li>
                    <li style="color:#30054D;font-weight:bold;">By clicking on information icon you can see table order note.</li>
                </ul>
                <img style="max-width: 100%;" src="3_table_order.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Manger can also see list view of orders and also have filtration buttons of specified categories in settings.</li>
                </ul>
                <img style="max-width: 100%;" src="4_order_list.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">For table service restaurants, order will be saved in cart and you can see the order status.</li>
                </ul>
                <img style="max-width: 100%;" src="5_order_status.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">we can see a screen shown below when cook will log in.</li>
                    <li style="color:#30054D;font-weight:bold;">As per order progress, cook can update state.</li>
                </ul>
                <img style="max-width: 100%;" src="main_screenshot.png"><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="background-color: #008000;"> 
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. 
                    Before trying in your live db, please ask us to provide you for test link. 
                    If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
            </div>
        </div>
    </div>
    <div class="oe_row" style="background-color: #004CFF;"> 
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
            <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
        </div>
            <span>
                <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
                <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
                <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
            </span>
        </div>
    </div>
</section>